    * {
        margin: 0;
        padding: 0;
        font-family: 'Cabin', sans-serif;
    }
    
    body {
        background-image: url("Pictures/Background-img.jpg");
        background-color: #cccccc;
        height: 1080px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .navigation {
        background-color: #13283B;
        display: flex;
        justify-content: space-between;
        width: 95%;
        height: 70px;
        max-width: 1920px;
        margin: auto auto;
        border: 1px solid black;
        box-shadow: 5px 10px 8px black;
        border-radius: 5px;
    }
    
    .navigation>a {
        text-decoration: none;
        color: #d1d1d1;
        font-size: 2.5em;
        padding: 15px;
    }
    
    a:hover {
        color: #FFBC7D;
    }
    
    .picture>img {
        display: block;
        /*Bild försvinner om man gör fönstret mindre*/
        margin: auto auto;
        width: 10%;
        height: 90%;
    }
    
    .login>form {
        margin: 25px auto auto auto;
        /*Problem om man gör fönstret mindre*/
        height: 20px;
    }
    
    .login>form>input {
        border: 1px solid black;
        border-radius: 5px;
        padding: 3px;
        width: 30%;
    }
    
    .login>form>label {
        color: #d1d1d1;
        font-weight: bold;
    }
    
    .login>form>button {
        border-radius: 5px;
        font-weight: bold;
        margin-top: 2px;
        padding: 2px;
    }
    
    button:hover {
        color: #FFBC7D;
    }

    #maincontent {
        width: 95%;
        max-width: 1920px;
        margin: 20px auto auto auto;
        /* border: 1px solid black; */
        /* box-shadow: 5px 10px 8px #888888; */
    }
    
    .container {
        display: flex;
        justify-content: space-evenly;
    }
    
    .event {
        background-color: #13283bcc;
        /*background-color: rgba(0, 0, 0, 0.6);*/
        border-radius: 12px;
        padding: 20px;
    }

    .event:hover {
        background-color: #13283bf3;
        cursor: pointer;
        color: #FFBC7D;
    }

    .event > p,
    .event > img {
        color: #d1d1d1;
        text-align: justify;
        width: 400px;
        margin: auto;
        border-radius: 12px;
    }
    
    .event > h2 {
        margin: 20px 0 0 0;
        color: #d1d1d1;
        margin-bottom: 20px;
    }
    
    .event > p {
        line-height: 1.5em;
        font-size: 1em;
    }
    .event > p:hover {
        color: #FFBC7D;
    }
    
    .main-info-border {
        margin: 20px auto 50px auto;
        width: 100%;
        height: 150px;
        padding: 20px;
        /* background-color: #F2B085; */
        color: #13283B;
        display: flex;
        justify-content: center;
    }
    
    .main-info,
    .main-info > h2 {
        /* background-color: #F2B085; */
        color: #d1d1d1;
        font-style: italic;
        text-align: justify;
        
    }
    
    .main-info {
        max-width: 600px;
        background-color: #13283bcc;
        border-radius: 12px;
        padding: 20px;  
    }
    
    footer {
        border-radius: 5px;
        background-color: #13283B;
        display: flex;
        position: fixed;
        bottom: 20px;
        left: 40px;
        justify-content: space-between;
        width: 95%;
        height: 40px;
        max-width: 1920px;
        margin: 21px auto auto auto;
        border: 1px solid black;
        box-shadow: 5px 10px 8px black;
    }
    
    .picture-footer>img {
        display: block;
        margin: 0 10% 0 43%;
        max-width: 300px;
        width: 10%;
        height: 50%;
    }
    
    footer>address>a,
    p {
        color: #d1d1d1;
        float: right;
        font-size: 10px;
        width: 100%;
        margin: 1em 2em 3em 0;
    }
    
    footer>div>p {
        color: #d1d1d1;
        float: left;
        font-size: 10px;
        width: 100%;
        margin: 1.3em 2em 3em 3em;
    }
    
    .picture-socialmedia {
        margin: 0.7em 0 0 -10em;
    }
